.carousel-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cortes-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    /* Esconde a barra de rolagem para WebKit (Chrome, Safari) */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.cortes-container::-webkit-scrollbar {
    display: none;
}

.cortes-container .card {
    flex: 0 0 100%; /* Largura dos cards no carrossel para telas pequenas */
    margin-right: 0; /* Remove a margem direita */
    scroll-snap-align: start;
}

/* Media Queries para responsividade */

/* Telas médias (tablets) */
@media (min-width: 768px) {
    .cortes-container .card {
        flex: 0 0 calc(50% - 10px); /* Dois cards por linha com espaçamento */
        margin-right: 20px;
    }
}

/* Telas grandes (desktops) */
@media (min-width: 1024px) {
    .cortes-container .card {
        flex: 0 0 calc(33.333% - 14px); /* Três cards por linha com espaçamento */
        margin-right: 20px;
    }
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
    border-radius: 5px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
